<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gotham Cam's Sec urity</title>
  <link rel="stylesheet" href="../styles/painel_admm.css" />
</head>

<body>
  <header>Gotham Cam's Security</header>
  <main class="grid-cameras">

    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>
    <div class="camera"><video autoplay loop src="../src/Camera 2 ‐ Feito com o Clipchamp.mp4"></video></div>



  </main>
</body>

</html>