<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Loja Gotham</title>
  <link rel="stylesheet" href="../styles/visu_user.css" />
</head>

<body>
  <header>Loja Gotham</header>
  <main class="produtos">
    <div class="produto">
      <img src="https://images.tcdn.com.br/img/img_prod/460977/kit_batarang_batman_begins_2_pecas_27907_1_20201211173555.jpg" alt="Produto 1" />
      <h3>Batarang</h3>
      <p>R$ 199,90</p>
    </div>
    <div class="produto">
      <img src="https://down-br.img.susercontent.com/file/1f043d86c804fc653ac5e510b8dd5a47" alt="Produto 2" />
      <h3>Cinto de Utilidades</h3>
      <p>R$ 349,90</p>
    </div>
    <div class="produto">
      <img src="https://images.tcdn.com.br/img/img_prod/1017123/mascara_eletronica_batman_armor_up_com_luz_e_som_9113_1_ebf9664bb5a3d11988db6dc1c1809d89.jpg" alt="Produto 3" />
      <h3>Máscara do Batman</h3>
      <p>R$ 149,90</p>
    </div>


  </main>



</body>

</html>